::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:  rgba(40, 40, 40, 1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input:focus,
select:focus, .form-control:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
*:focus {
    box-shadow: none !important;
}
.bootstrap-select .form-control:focus {
    outline: 0px none #fff !important;
}

.bootstrap-select .form-control > div.filter-option:focus {
    outline: 0px none #fff !important;
}

.bootstrap-select .form-control > div.filter-option > div.filter-option-inner:focus {
    outline: 0px none #fff !important;
}

.bootstrap-select .form-control > div.filter-option > div.filter-option-inner > div.filter-option-inner-inner:focus {
    outline: 0px none #fff !important;
}


.main-window {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.top-bar-button {
    background-color: rgba(20, 20, 20, 1);
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 10%;
    height: 100%;
    text-align: center;
    font-family: 'Courier New', monospace;
    align-items: middle;
}

.meatball-div {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 5%;
    height: 100%;
    text-align: center;
}

.tab button {
    cursor: pointer;
    /*transition: 0.3s;*/
}

.tab button:hover {
    background-color: #404040;
}

.tab-content {
    display: none;
}

.top-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    background: rgba(20, 20, 20, 1);
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Courier New', monospace;
    align-items: middle;
}

.jsat-title {
    color: white;
    left: 0%;
}

.sim-tab {
    color: aquamarine;
    left: 10%;
    display: block;
}

.plot-tab {
    color: aquamarine;
    left: 20%;
}

.animation-tab {
    color: aquamarine;
    left: 30%;
}

.main-div {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 95%;
    background: rgba(40, 40, 40, 1);
    padding: 0%;
    margin: 0%
}

.sim-options-div {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;
    height: 70%;
    background: rgba(40, 40, 40, 1);
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border: solid thin black;
}

.sim-button {
    background-color: rgba(30, 30, 30, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    font-family: 'Courier New', monospace;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 7%;
}

.builder-title-button {
    background-color: rgba(35, 35, 35, 1);
    box-sizing: border-box;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid thin black;    
    color: #94c5dc;
    font-family: 'Courier New', monospace;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}

.scenario-loader-div {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 25%;
    height: 50%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.model-loader-div {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 10%;
    height: 100%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.hidden-loader-div {
    display:none;
}
.model-button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;    
    box-sizing: border-box;
    border: solid thin black;
    position: relative;    
    width: 100%;
    height: 5%;
    color: aquamarine;
}

.not-avail {
    color: grey;
}


.model-loader-back-btn {
    color: crimson;
}


.body-popup {
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top:10%;
    width:100%;
    height:20%;
    left:0%;
    display:none;
    z-index: 1;
}

.body-name {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 50%;
}

.joint-name {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 50%;
}

.body-buttons {
    background: rgba(35, 36, 36, 1);
    color: whitesmoke;
    position: relative;
    left: 0%;
    width: 100%;
    height: 10%;
    top: 10%;    
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
    border: solid thin black;
}

.model-buttons {
    background: rgba(35, 36, 36, 1);
    color: whitesmoke;
    position: relative;
    left: 0%;
    width: 100%;
    height: 10%;
    top: 10%;    
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
    border: solid thin black;
}

.active-border  {    
    border: solid thin aquamarine;
}

.not-active-border {
    border: solid thin black;
}

.joint-button {
    background: rgba(35, 36, 36, 1);
    color: whitesmoke;
    position: relative;
    left: 0%;
    width: 100%;
    height: 10%;
    top: 10%;    
    box-sizing: border-box;        
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid thin black;    
    border-top-style: none;
    font-family: 'Courier New', monospace;
}

.cancel-joint-button {
    background: rgba(35, 36, 36, 1);
    color: crimson;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 10%;
    bottom: 0%;       
    box-sizing: border-box;
    border: solid thin black; 
    font-family: 'Courier New', monospace;
}

.joint-div {
    position: absolute;
    top:5%;
    height:95%;
    width:100%;
    left:0%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    display:none;    
}

.joint-menu {
    position: absolute;
    top:10%;
    height:90%;
    width:100%;
    left:0%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    display:none;
    z-index: 1;
}

.details-popup-div {
    background: rgba(40, 40, 40, 1);
    position: absolute;
    left: 0%;
    width: 100%;
    height: 90%;
    top: 10%;
    box-sizing: border-box;
    border: solid thin black;
    font-family: 'Courier New', monospace;
    display: none;
    z-index: 2
}

.save-body-details-button {
    background: rgba(30, 30, 30, 1);
    box-sizing: border-box;
    border: solid thin black;
    font-family: 'Courier New', monospace;
    position: absolute;
    left: 0%;
    width: 50%;
    height: 10%;
    bottom: 0%;
    color: aquamarine;
}

.cancel-body-details-button {
    background: rgba(30, 30, 30, 1);
    box-sizing: border-box;
    border: solid thin black;
    font-family: 'Courier New', monospace;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 10%;
    bottom: 0%;
    color: crimson;
}

.form {
    position: absolute;
    height: 100%;
    display: inline;
    float: left;
    font-size: small;
}

.form-font {
    color: aquamarine;
    font-family: 'Courier New', monospace;
}

.form-input {
    color: white;
    background-color: rgba(30, 30, 30, 1);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    box-sizing: border-box;
    border: solid thin black
}

.console-log {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 25%;
    height: 30%;
    background-color: rgba(35, 36, 36, 1);
    color: white;
    box-sizing: border-box;
    border: solid thin black;    
    overflow: auto;
}

.plots {
    position: absolute;
    top: 0%;
    left: 40%;
    height: 100%;
    width: 60%;
    background-color: rgba(35, 36, 36, 1);
    box-sizing: border-box;
    border: solid thin black;
    overflow: hidden;
    text-align: center;
}

.title-button {
    background-color: rgba(20, 20, 20, 1);
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: 'Courier New', monospace;
    align-items: middle;
    color: white;
}

.states {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 15%;
    height: 100%;    
}

.x-states {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid black thin;
}

.y-states {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid black thin;
}

.x-state-select {
    position: absolute;
    top: 50%;
    left:0%;
    height:50%;
    width:100%;
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid black thin;
    color: white;
}

.x-axis-title-button {
    background-color: rgba(20, 20, 20, 1);
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: 'Courier New', monospace;
    align-items: middle;
    color: white;
}
.state-select {
    position: relative;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 90%;
    background-color: rgba(35, 36, 35, 1);
    border: none;
    box-sizing: border-box;
    color: aliceblue
}

.sims {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;
    height: 70%;
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid black thin;
}

.sim-select {
    position: relative;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 70%;
    background-color: rgba(35, 36, 35, 1);
    border: none;
    box-sizing: border-box;
    color: aliceblue;    
}


.load-from-sim-btn {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 5%;
}

.load-from-file-btn {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
}

.load-file-input {
    display: none;
}

.choose-file-btn {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0%;
    width: 30%;
    height: 5%;
}

.plot-canvas {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.animation-div {
    position:absolute;
    bottom: 0%;
    left: 25%;
    width: 75%;
    height: 96.4%;
}

.animation-toolbar {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    text-align: center;
    position:absolute;
    top: 0%;
    left: 25%;
    width: 75%;
    height: 3.6%;
}

.animation-target{ 
position: absolute;
    top: 0%;
    left:10%;
    height:100%;
    width:10%;
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid black thin;
    color: white;
}


.animation-target-btn {
    background-color: rgba(20, 20, 20, 1);
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 10%;
    height: 100%;
    left:0%;
    text-align: center;
    font-family: 'Courier New', monospace;
    align-items: middle;
    color: white;
}

.cy-toolbar {
    position:absolute;
    left:35%;
    width:75%;
    top:0%;
    height:5%;    
    background-color: rgba(25, 25, 25, 1);
}

.cy-canvas-div {
    position:absolute;
    left:35%;
    width:65%;
    top:5%;
    height:95%;    
    background-color: rgba(35, 36, 35, 1);
}

.element-details-div {
    position:absolute;
    left:33%;
    width:33%;
    top:15%;
    height:70%;    
    background-color: rgba(35, 36, 35, 1);
    display: none;
    border: solid thin black;
    box-sizing: border-box;
    z-index: 10;    
}

.element-title-div {
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    border: solid thin black;
    position:absolute;
    left:0%;
    width:100%;
    top:0%;
    height:10%;   
    color: aquamarine;
    text-align: left;
    font-family: 'Courier New', monospace;    
}

.element-table-div {
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid thin black;
    position:absolute;
    left:0%;
    width:100%;
    top:10%;
    height:80%;   
    overflow:auto;    
}

.model-element-table-div {
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid thin black;
    position:absolute;
    left:0%;
    width:100%;
    top:15%;
    height:75%;   
    overflow:auto;    
}

.add-model-param-button {
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid thin black;
    position:absolute;
    left:0%;
    width:100%;
    top:10%;
    height:5%;   
    color: aquamarine;
    text-align: center;
    font-family: 'Courier New', monospace;  
}
.add-body-buttons-div {    
    box-sizing: border-box;
    position:absolute;
    border: solid thin black;
    left:0%;
    width:100%;
    top:90%;
    height:10%;   
}

.add-body-save-button {
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid thin black;
    position:absolute;
    left:0%;
    width:50%;
    top:0%;
    height:100%;   
    color: aquamarine;
    text-align: center;
    font-family: 'Courier New', monospace;       
}

.add-body-cancel-button {
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid thin black;
    position:absolute;
    left:50%;
    width:50%;
    top:0%;
    height:100%;   
    color: crimson;
    text-align: center;
    font-family: 'Courier New', monospace;       
}

.draw-mode-btn {
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;    
    position:absolute;
    left:0%;
    width:10%;
    top:0%;
    height:100%;   
    color: aquamarine;
    text-align: center;
    font-family: 'Courier New', monospace; 
    z-index: 10;      
}

.delete-btn {
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;    
    position:absolute;
    left:10%;
    width:10%;
    top:0%;
    height:100%;   
    color: aquamarine;
    text-align: center;
    font-family: 'Courier New', monospace; 
    z-index: 10;      
}

.save-scenario-btn {
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;    
    position:absolute;
    left:20%;
    width:20%;
    top:0%;
    height:100%;   
    color: aquamarine;
    text-align: center;
    font-family: 'Courier New', monospace; 
    z-index: 10;    
}


.clear-canvas-btn {
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;    
    position:absolute;
    left:40%;
    width:15%;
    top:0%;
    height:100%;   
    color: aquamarine;
    text-align: center;
    font-family: 'Courier New', monospace; 
    z-index: 10;    
}